# Define code owners for the codeowners file
.github/CODEOWNERS @danhellem @Novaes @aaudzei @skmanoj @kboom

# Define maintainers as code owners for the entire repository
* @danhellem @Novaes @aaudzei @skmanoj @kboom
